/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #440065 !default;
$body-color: #fff !default;
$link-color: #ffb178 !default;
$selection-bg: #26351c !default;
$text-muted: #db8872 !default;
$code-color: #ffb178 !default;
$code-block-bg: #fff !default;
$code-block-border-color: #dfbbc8 !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #ffc680 !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal pre code {
  background-color: $body-bg;
  color: $body-color;
}

.reveal pre.sourceCode code {
  @if variable-exists(code-block-color) {
    color: $code-block-color;
  }

  background-color: $code-block-bg;
  color: $body-color;
  padding: 6px 9px;
  max-height: 500px;
  white-space: pre;
}

div.attribution {
    color: #ffffff; 
    float: right;
}

.mermaid .cluster-label {
  dominant-baseline: hanging;
  text-anchor: start;
  transform: translate(5px, calc(100% - 20px));
}

/* Shrink invisible nodes' shape */
.mermaid .invisible > rect, 
.mermaid .invisible > ellipse {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
}

/* Nudge the label node text near bottom-left */
.mermaid .label > text {
  dominant-baseline: hanging;
  text-anchor: start;
  transform: translate(0, 10px);
}